body {
    background: url('./images/Object.png') no-repeat;
    background-size: 213vh;
    font-family: sans-serif;
}
nav {
    display: flex; 
    padding: 40px;
    
}
.logo {
    padding-left: 110px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 17px;
}
.middle {
    text-align: center;
    color: white;
    
}
.schooled {
    margin-top: 90px;
}
#title {
    font-weight: bold;
    font-size: 60px;
}
.schooled span {
    font-size: 10px;
    margin: 25px;
}
#reg-btn {
    background-color: rgb(185, 63, 212);
    border-radius: 50px;
    color: white;
    padding: 10px;
    font-size: 9px;
    margin-top: 5%;
    border: 0cap;
}
.learn {
    margin-top: 10%;
}
#learn {
    color: rgb(185, 63, 212);
    font-weight: bold;
}
.profiles {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
#image2 {
    border-radius: 70px;
}
.profiles h3 {
    padding: 10px;
    font-weight: bold;
}
.profiles p {
    font-size: smaller;
    font-weight: lighter;
    margin: 5px;
    font-style: italic;
    opacity: 0.70;
}
.profiles img {
    margin-left: 40px;
}
.quote_section {
    background-color: rgb(185, 63, 212);
    height: 35vh;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.presenter-descr {
    color: white;
    margin: 5px;
    font-size: small;
}
.presenter-descr h3 {
    font-weight: bold;
}
.presenter-descr p {
    font-style: italic;
}
.quote_section img {
    height: 50%;
    margin-right: 30px;
}
.videos_section {
    margin: 70px;
}
.vid_title {
    text-align: center;
}
#popular {
    color: rgb(185, 63, 212);
    font-weight: bold;
}
.vids {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.vids_content{
    margin: 9px;
}
.vids_content p {
    opacity: 0.60;
}
.vids h3 {
    font-weight: bold;
    font-size: small;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container {
    font-size: small;
}
.image_cont {
    position: relative;
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
}
.base-image {
    width: auto;
    height: auto;
    margin-right: 30px;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 60px; 
    height: 60px;
    cursor: pointer;
}
.massey {
    display: flex;
    margin-top: 10px;
}
.massey img {
    height: 25px;
}
.massey h4{
    margin: 7px;
    color: rgb(185, 63, 212);
    font-weight: bold;
}
.rating {
    display: flex;
    margin-top: 10px;
}
.rating p {
    margin-left: 65px;
    color: rgb(185, 63, 212);
    font-weight: bold;
}
.memb_section {
    background-color: rgb(6, 6, 33);
    height: 57vh;
    color: white;
    padding-top: 70px;
}
.memb_section button {
    background-color: rgb(185, 63, 212);
    border-radius: 50px;
    margin-left: 45%;
    margin-top: 15px;
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 14px;
    border: 0cap;
}
.memb_title {
    text-align: center;
    margin-bottom: 45px;
    font-size: large;
}
#free {
    color: rgb(185, 63, 212);
    font-weight: bold;
}
#membership {
    opacity: 0.70;
}
.smile {
    display: flex;
    text-align: center;
    font-size: small;
    justify-content: space-around;
    margin: 50px;
}
.smile h3 {
    font-weight: bold;
    margin: 20px;
}
.smile p {
    font-weight: lighter;
    opacity: 0.70;
}
.FAQ_section h2 {
    font-size: xx-large;
    text-align: center;
    margin: 50px;
    margin-top: 70px;
}
.FAQ_section h3 {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}
.how {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    font-size: small;
}
#para {
    opacity: 0.5;
    line-height: 25px;

}
.footer_section {
    background-color: rgb(6, 6, 33);
    height: 20vh;
    color: white;
    padding-top: 70px;
}
.footer {
    display: flex;
    justify-content: space-around;
}
.footer_section p {
    text-align: center;
    margin-top: 55px;
    font-size: 10px;
    opacity: 0.5;
}



